@{
    ViewData["Title"] = "Datos personales";
}
<h1>@ViewData["Title"]</h1>
<br>
<p><h4>Nombre: </h4>@ViewBag.Nombre</p>
<p><h4>Apellidos: </h4>@ViewBag.Apellidos</p>
<p><h4>Edad: </h4>@ViewBag.Edad</p>
<p><h4>Correo: </h4>@ViewBag.Correo</p>
<p><h4>Teléfono: </h4>@ViewBag.Telefono</p>